/env/
/back/configs/settings/local.py
/back/db.sqlite3
/back/debug.log
debug.log
/back/celerybeat-schedule.db
/.idea
venv/
__pycache__/
.DS_Store
requirements.txt
.vscode/
.pylintrc
scss/
/back/static/
/back/static/admin/
/back/staticfiles/js/locale.js
/back/.idea/
blizko_nginx.conf
blizko_uwsgi.ini.save
mysite.sock
run
test.py
uwsgi.ini
uwsgi_params
*.dump

/blizko_project/blizko_project/local/local.py
/blizko_project/blizko_project/settings/locale.py
/blizko_project/db.sqlite3
/.idea/misc.xml
/.idea/workspace.xml
